[submodule "themes/academic"]
	path = themes/academic
	url = git::https://github.com/gcushen/hugo-academic.git

[submodule "themes/hugo-profile"]
        path = themes/hugo-profile
        url = git::https://github.com/gurusabarish/hugo-profile.git
